/* App.module.css */

.app {
  display: flex;
  flex-direction: row;
}

.navbar {
  position: fixed; /* Fix the navbar to the left side */
  top: 0;
  left: 0;
  width: 80px; /* Fixed width */
  height: 100vh; /* Full viewport height */
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: #8aa6bc;
  z-index: 0; /* Ensure it stays on top */
}

.navbarMain {
  flex: 1;
  margin-top: 20px;
}

.link {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-black);
  margin-bottom: var(--mantine-spacing-xs); /* Add margin to space out the links */


  &:hover {
    background-color: #7c95a9;
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: #adc1d0;
      color: var(--mantine-color-black);
    }
  }
}

.content {
  flex: 1; /* Take remaining width */
  padding: var(--mantine-spacing-lg); /* Adjust padding as needed */
  margin-left: 80px; /* Match the width of navbar */
  background-color: #f0f0f0; /* Example background color */
  z-index: 1; /* Ensure content is above navbar */
}

.pageContent {
  padding: var(--mantine-spacing-lg); /* Adjust padding as needed */
  background-color: #ffffff; /* Example background color */
  border-radius: var(--mantine-radius-md);
}
